.chat-container {
  display: flex;
  flex-wrap: wrap;
}

.message-container {
  background-color: #3b4a54;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.sent {
  align-self: flex-end;
  background-color: #00a884;
}

.received {
  align-self: flex-start;
}

.options {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

.options:hover {
  cursor: pointer;
}

.options i {
  color: white;
  font-size: 20px;
}

.options:hover .dropdown {
  display: block;
}

.dropdown {
  background-color: #3b4a54;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: none;
  position: absolute;
  right: 50px;
  top: 30px;
}

.double-check-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.double-check-container i {
  color: white;
  font-size: 20px;
}
