@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');
@import url('https://fonts.cdnfonts.com/css/falling-sky');

/* GERAL */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  /* font-family: 'Falling Sky', sans-serif; */
  text-decoration: none;
  font-style: none;
  list-style: none;
  color: #000;
}
body{
  background-image: url("https://i.pinimg.com/originals/28/5b/db/285bdb717d77eb00bb81088a2b4aa674.jpg");
  background-color: #cccccc;
  /* background-position: center;  */
  background-repeat: no-repeat; 
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  display: flex;
}
footer{
  background: rgba(165, 164, 164, 0.212);
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}
#icon-win{
  margin-left: 10px;
  cursor: pointer;
  font-size: 45px;
  color: white;
}
.iniciar{
  float: left;
  width: 60px;
  margin-right: 15px;
}
.icons{
  height: 100%;
}
.icons ion-icon{
  font-size: 25px;
  margin-top: 15%;
}
.data-hora{
  margin: auto 25px;
  text-align: center;
  color: white;
}
.pesquisa{
  align-items: center;
  position: relative;
  height: 100%;
  width: 300px;
  background-color: #cccccc;
}
.pesquisa ion-icon{
  float: left;
  margin: 20px;
}
.pesquisa p{
  margin: 15px 0 0 0;
  font-size: 14pt;
}
.abas{
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.abas .itens{
  height: 45px;
  margin: 0 5px;
  cursor: pointer;
}
footer .icons{
  color: white;
}
footer .icons ion-icon{
  cursor: pointer;
}

.tela{
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 35%;
  left: 38%;
  display: flex;
}
.tela .itens-screen{
  margin: 0 15px;
  cursor: pointer;
}
.tela  .itens-screen img{
  height: 60px;
  padding: 5px;
  margin: 5px;
}
.tela .itens-screen p{
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.abas-screen{
  position: absolute;
  top: 10%;
  left: 25%;
}
.ativado.aba-screen{
  background-color: #d1d1d1f6;
  border-radius: 10px;
  border: 1px solid #333;
  width: 650px;
  height: 500px;
}
.aba-screen .bar{
  height: 25px;
  border-radius: 10px 10px 0 0;
  display: flex;
  border-bottom: 1px solid #333;
  box-shadow: 0 0 5px 0;
}
.aba-screen .bar .title{
  float: left;
  margin: auto auto auto 15px;
}
.aba-screen .bar .exit{
  float: right;
  margin: auto 15px auto auto;
  cursor: pointer;
  padding: 1px 9px;
  font-size: 24px;
  height: 25px;
}
.abas-screen .files{
  display: flex;
  text-align: center;
  align-items: center;
}
.abas-screen .file  {
  height: 60px;
  margin: 25px 25px 0 25px;
  text-align: center;
}
.abas-screen .file-tab{
  cursor: pointer;
}
.abas-screen .file-tab a{  
  text-decoration: none;
  color: #000;
}

.desativado{
  display: none;
}
.abas-screen .notas{
  background-color: white;
}
.abas-screen .notas .bar{
  background-color: #d1d1d1f6;
}
.abas-screen .notas .files{
  margin: 20px 50px;
}
.abas-screen .notas .files p{
  text-align: left;
}
.abas-screen .notas .files a{
  color: blue;
  text-decoration: underline;
}