*{
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Tahoma;
  text-decoration: none;
}

#about{
  height: 600px;
  background-color: #fff;
}
#about div.conteiner{
  padding: 141px;
}
#about .title{
  color: #e8bb30!important;
  font-size: 42pt;
  padding-bottom: 5px;
}
#about .top-p{
  font-size: 20px;
}
#about .down-p{
  font-size: 16px;
}