*{
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Tahoma;
  text-decoration: none;
}

#home{
  height: 600px;
}
#home div.conteiner{
  padding: 50px;
  margin: 141px;
  text-align: left;
}
#home .title{
  color: #fff;
  font-size: 52pt;
  padding-bottom: 5px;
}
#home .top-p{
  font-size: 20px;
}
#home .down-p{
  font-size: 16px;
}