/* *{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navbar{
 background-color: #333;
 width: 100%;
 height: 80px;
}
.navbar .box-cell {
  padding: 14px 16px;
  text-decoration: none;
}
.container{
  float: center;
  text-align: center;
}
.container .box {
 display : fixed;
 flex-direction : row;
}
.container .box .box-cell{
  color:white;
  text-align:justify;
}  */
/* *{
  margin: 0;
  padding: 0;
  color: #E50914;
  font-family: Tahoma;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  background-color: #000;
  box-shadow: 0 0 1em 13px #000;
  z-index: 99;
  text-transform: uppercase;
  font-size: 14pt;
  color: #E50914;
}
.navbar a.logo-img {
  margin: auto 20px auto 40px;
  text-decoration: none;
  font-weight: bold;
}
.navbar .container li {
  float: left;
  list-style: none;
  margin-left: 20px;
  text-align: center;
  align-items: center;
  padding: 30px;
  color: #E50914;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #E50914;
  text-shadow: 0 0 15px #E50914;
}
.navbar .div-a a img{
  padding: auto;
}
.navbar .div-li{
  margin: auto auto auto auto;
}
a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 15px #fff;
} */

@import url('http://fonts.cdnfonts.com/css/bebas-neue');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}
body{
  background: #333;
  min-height: 200vh;
}
header{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  /* background-color: #000; */
  z-index: 100000;
}
header.sticky{
  padding: 5px 100px;
  background: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://cwsmgmt.corsair.com/hybris/tlc/systems/gaming-pcs-banner_ICUE-CERTIFIED.jpg);
  background-size: cover;
}
header.sticky .logo,
header.sticky li a {
  color: #000;
}