/* *{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navbar{
 background-color: #333;
 width: 100%;
 height: 80px;
}
.navbar .box-cell {
  padding: 14px 16px;
  text-decoration: none;
}
.container{
  float: center;
  text-align: center;
}
.container .box {
 display : fixed;
 flex-direction : row;
}
.container .box .box-cell{
  color:white;
  text-align:justify;
}  */
*{
  margin: 0;
  padding: 0;
  color: #E50914;
  font-family: Tahoma;
}

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  background-color: #000;
  box-shadow: 0 0 1em 13px #000;
  z-index: 99;
  text-transform: uppercase;
  font-size: 14pt;
  color: #E50914;
}
.navbar a.logo-img {
  /* margin: auto 20px auto 40px; */
  text-decoration: none;
  /* font-weight: bold; */
}
.navbar .container li {
  float: left;
  list-style: none;
  margin-left: 20px;
  text-align: center;
  align-items: center;
  padding: 30px;
  color: #E50914;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #E50914;
  text-shadow: 0 0 15px #E50914;
}
.navbar .div-a a img{
  padding: auto;
}
.navbar .div-li{
  margin: auto auto auto auto;
}
a:hover{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 15px #fff;
}