*{
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Tahoma;
}

.main {
  /* margin-top: 30px; */
  background-color: rgb(124, 124, 124);
}
#home{
  height: 750px;
  background-color: #333;
  padding-top: 150px;
}
#project{
  width: 100%;
  height: 100%;
  max-height: 950px;
  min-height: 700px;
  background-color: rgb(202, 202, 202);
  /* padding-top: 150px; */
}
#contact{
  height: 750px;
  background-color: #333;
  padding-top: 150px;
}
