/* GERAL */
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');
:root{
  --border:1px solid red;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto';
}

/* DAD */
nav{
  background-color: #333;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 60px;
  height: 60px;
}
.box{
  display: flex;
  justify-content: right;
  height: 60px;
  box-sizing: border-box;
  border: var(--border);
}

/* SON */
#chevron-down{
  position: fixed;
  border: 3.5px solid #333;
  border-radius: 100%;
  background-color: #5E5E5E;
  width: 20px;
  margin: 29px;
}
#num-notification{
  position: fixed;
  border: 3.5px solid #333;
  border-radius: 30px;
  background-color: #CC004B;
  display: flex;
  margin: -10px 0 0 30px;
  padding: 1px 4px;
}
#num-notification p{
  margin: 1px; 
  color: white;
  
}

/* SVG */
.space-left #screan svg{
  width: 50px;
}
.svg-icon svg{
  width: 25px;
  fill: white;
  margin: auto;
}
.svg-icon{
  background-color:#5E5E5E;
  padding: 3px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  cursor: pointer;
  margin: 0 8px;
}
.svg-icon:hover, .svg-icon:hover #chevron-down{
  background-color: #444444;
}
